<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }
            .box.two {
                background-color: red;
            }
            .box.three {
                background-color: blue;
            }

            /* v-cloak is now hiding not fully loaded stuff */
            [v-cloak] {
                display: none;
            }
        </style>
    </head>

    <body>
        <!-- v-cloak will hide anything from rendering until the whole Vue app is ready (avoids clipping & so on) -->
        <div id="app" v-cloak>
            {{ greeting }}
            <input @keyup.enter="greet" v-model="greeting">
            <input @keyup.enter="greety(otherGreeting)" v-model="greeting">

            <hr>

            <!-- 
                the difference is that in the v-if case:
                - 'false' will remove the div from the DOM
                in the v-show case:
                - 'false' will hide the div but it will still be present in the DOM
                   (a display: none; behavior) 
            -->
            <div v-if="isVisible" class="box"></div>

            <hr>

            <div v-show="isShown" class="box"></div>

            <hr>

            <div v-if="isVisible2" class="box two"></div>
            <div v-else-if="isVisible3" class="box three"></div>
            <div v-else class="box"></div>

            <hr>

            <!-- the three following buttons are equivalent: -->
            <!-- <button v-on:click="isButtonActivated = !isButtonActivated">Toggle Box</button> -->
            <!-- <button @click="isButtonActivated = !isButtonActivated">Toggle Box</button> -->
            <button @click="toggleBox">Toggle Box</button>
            <div v-if="isButtonActivated" class="box three"></div>
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app = Vue.createApp({
                data: () => {
                    return {
                        greeting: 'Hello Vue 3!',
                        isVisible: true,
                        isShown: true,
                        isVisible2: true,
                        isVisible3: true,
                        isButtonActivated: false,
                        otherGreeting: 'Hi Vue 3!'
                    }
                },
                methods: {
                    toggleBox() {
                        this.isButtonActivated = !this.isButtonActivated
                    },
                    greet() {
                        console.log(this.greeting)
                    },
                    greety(str) {
                        console.log(str)
                    }
                }
            })
            app.mount('#app')
        </script>
    </body>
</html>
